
/* Your CSS Code here. */
.container{
    color:white;
    background-color: purple;
    width: 200px;
    padding: 10px;
    font-size: 20px;
/* 	border: red: 
	border-left-style:solid;
    border-left-width: 5px ;
    border-left-color: green;*/
	border-left:5px green solid;
	

}